<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mon</title>
</head>
<body onload="ld()">
    <!-- <iframe src="/monitor" allow="autoplay"></iframe>  -->

    <audio id="myAudio">
        <source src="/monitor" type="audio/wav">
        
      </audio> 
</body>
<script>
    
    function ld(){
        //let b = document.getElementById("myAudio");
        //b.play();
        let x = "{{r}}"
        console.log("This R", x)
        if (x=="True"){
            myAudio.play();
        }
    }
</script>
</html>